.go-back {
  background-color: black;
}

.back-button {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  text-align: center;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s;
  background-color: rgba(255, 255, 255, 0.4);
}

.ColorBox:hover .back-button {
  background-color: rgba(255, 255, 255, 0.2);
}