.Palette {
  display: flex;
  flex-direction: column;
  width: 100wh;
  height: 100vh;
  overflow: hidden;
}

.Palette-colors {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.Palette-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  height: 4vh;
  font-weight: 500;
}

.emoji {
  font-size: 1.5rem;
  margin: 0.1rem;
}